<div id="alert-bar" class="alert-bar">
    <div id="alert-content" class="alert-content">
        <span class="alert-icon"><i class="fa fa-bell"></i></span>
        <div id="alert-message" class="alert-message">
        </div>
        <div id="alert-close" class="alert-close"><i class="fa fa-times"></i></div>
    </div>
</div>