<div class="cat-box">
    <div class="cat-title">筛选：</div>
    <div class="cat-list">
        <div class="cat-item">
            <a href="<%- url_for('/categories') %>">类型</a>
        </div>
        <div class="cat-item">
            <a href="<%- url_for('/tags') %>" >标签</a>
        </div>
    </div>
</div>