<div class="footer">
    <span>&copy; 2021-
        <script>
            document.write((new Date).getFullYear());</script>
        <%= config.author %>
    </span>
    <span><a target="_blank" href="https://github.com/kankezhiyan/word-card-hexo">word-card</a> | <a target="_blank"
            href="https://hexo.io/">Hexo</a></span>
</div>
</body>

</html>