<div id="sitting-content" class="theme-switch">
    <div class="theme-band">
        <ul class="theme-box">
            <li id="theme-1" class="theme-item"><span>时</span></li>
            <li id="theme-2" class="theme-item"><span>昼</span></li>
            <li id="theme-3" class="theme-item"><span>暮</span></li>
            <li id="theme-4" class="theme-item"><span>夜</span></li>
            <li id="theme-5" class="theme-item"><span>宵</span></li>
            <li id="theme-6" class="theme-item"><span>荧</span></li>
        </ul>
    </div>
</div>